body {
  font-family: 'Courier New', Courier, monospace;
  color: #2a2b28;
  background-image: url("../images/background.png");
  background-size: cover;
  text-align: center;
}

.game-title {
  color: #e74c3c;
  padding-left: 15vw;
}

.start {
  height: auto;
  width: auto;
  border-radius: 5px;
  position: relative;
  float: left;
}

.start button {
  font-size: 1.5vw;
  text-transform: uppercase;
  background: #e74c3c;
  border-radius: 10%;
  cursor: pointer;
}

.info {
  position: absolute;
  float: left;
  border: 1px solid black;
  background: #ecf0f1;
  border-radius: 10%;
  height: auto;
  width: auto;
  padding: 20px;
  color: #000;
}

.wall {
  width: 700px;
  height: 700px;
  display: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 10px 10px 10px;
  border-radius: 5%;
  cursor: url("../images/mallet.png"), auto;
}

.wall .dot {
  height: 68px;
  width: 68px;;
  background: #ecf0f1;
  border-radius: 50%;
  float: left;
  cursor: url("../images/mallet.png"), auto;
  pointer-events: none;
}

.active {
  height: 68px;
  width: 68px;
  background-image: url("../images/jianyangdrawing.png");
  border-radius: 50%;
  float: left;
  cursor: url("../images/mallet.png"), auto;
}

.end {
  position: relative;
}
  
.end .score {
  position: relative;
  margin-top: 2vw;
  text-align: center;
  color: #000;
  font-size: 2vw;;
  line-height: 1.5px;
}

.end img {
  position: relative;
  margin-top: 5vw;
  align-content: center;
}
    
.end button {
  align-content: center;
  width: auto;
  height: auto;
  font-size: 1.5vw;
  text-transform: uppercase;
  background: #e74c3c;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

/* .custom {
  cursor: url("../images/mallet.png"), auto;
} */